doctype html
html(lang="pt-BR")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title #{title} | Garden
    
    link(rel="stylesheet", href="garden.min.css")
    link(rel="stylesheet", href="style.css")
    link(rel="stylesheet", href="http://yandex.st/highlightjs/8.0/styles/default.min.css")
    
  body
    include _partials/header.jade
    
    main.docs
      .container
        if sidebar
          nav.sidebar
            each page in collections[collection]
              a.link(href="/#{page.path}", class=title === page.title ? "link--active" : undefined) #{page.title}
        .content!= contents
    
    include _partials/footer.jade
